@media (min-width:576px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width:768px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width:992px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl-1 {
        width: 8.33%;
    }

    .col-xl-2 {
        width: 16.66%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.33%;
    }

    .col-xl-5 {
        width: 41.66%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.33%;
    }

    .col-xl-8 {
        width: 66.66%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.33%;
    }

    .col-xl-11 {
        width: 91.66%;
    }

    .col-xl-12 {
        width: 100%;
    }
}

@media (min-width:1400) {
    .col-xxl-1 {
        width: 8.33%;
    }

    .col-xxl-3 {
        width: 25%;
    }

    .col-xxl-2 {
        width: 16.66%;
    }

    .col-xxl-4 {
        width: 33.33%;
    }

    .col-xxl-5 {
        width: 41.66%;
    }

    .col-xxl-6 {
        width: 50%;
    }

    .col-xxl-7 {
        width: 58.33%;
    }

    .col-xxl-8 {
        width: 66.66%;
    }

    .col-xxl-9 {
        width: 75%;
    }

    .col-xxl-10 {
        width: 83.33%;
    }

    .col-xxl-11 {
        width: 91.66%;
    }

    .col-xxl-12 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .nav {
        padding: 0 50px;
    }

    .online {
        padding: 0 50px;
    }

    .top-games {
        padding: 0 50px;
    }
}

@media (max-width: 992px) {
    nav ul li {
        display: none;
    }

    .menu i {
        display: block;
    }

    .menu button {
        display: block;
        margin-top: -7px;
    }

    .nav {
        padding: 0 100px;
    }

    .online::before {
        height: 100%;
    }

    .online-content {
        text-align: center;
    }

    .online-content h1 {
        font-size: 56px;
    }

    .online {
        padding: 0 100px;
    }

    .about-game-img img {
        margin-top: 80px;
        margin-left: 50px;
    }

    .game-section {
        padding: 50px 100px;
    }

    .why {
        padding: 50px 100px;
    }
}

@media (max-width: 768px) {
    nav ul li {
        display: none;
    }

    .menu i {
        display: block;
    }

    .menu button {
        display: block;
        margin-top: -7px;
    }

    .nav {
        padding: 0 50px;
    }

    .online::before {
        height: 100%;
    }

    .online-content {
        text-align: center;
    }

    .online-content h1 {
        font-size: 56px;
    }

    .online {
        padding: 0 50px;
    }

    .about-game-img img {
        margin-top: 80px;
        margin-left: -10px;
    }

    .game-section {
        padding: 50px 50px;
    }

    .why {
        padding: 50px 50px;
    }
    .how-item::before{
        width: 0;
    }
    .how-item{
        margin-bottom: 30px;
    }
    .section-5{
        padding: 50px 50px;
    }
}

@media (max-width: 576px) {
    nav ul li {
        display: none;
    }

    .menu i {
        display: block;
        font-size: 25px;
        margin-top: -5px;
    }

    .menu button {
        display: none;
    }

    .nav {
        padding: 0 50px;
    }

    .online {
        padding: 0 20px;
    }

    .online-content {
        text-align: center;
    }

    .online-content h1 {
        font-size: 46px;
    }

    .about-game-content h2 {
        font-size: 42px;
    }

    .about-game-content p {
        font-size: 18px;
    }
    .game-section{
        padding: 0 20px;
    }
    .why{
        padding: 0 20px;
    }
    .section-5{
        padding: 70px 20px;
    }
    .faq-boxs details summary i{
        margin-left: 100px;
    }

}

@media (max-width:360px) {
    nav ul li {
        display: none;
    }

    .menu i {
        display: block;
        font-size: 25px;
        margin-top: -5px;
    }

    .menu button {
        display: none;
    }

    .nav {
        padding: 0 15px;
    }

    .online {
        padding: 0 15px;
    }

    .online-content {
        text-align: center;
        padding-bottom: 30px;
    }

    .online-content h1 {
        font-size: 32px;
    }

    .online-content p {
        font-size: 18px;
    }

    .online-content button {
        margin-bottom: 10px;
    }

    .about-game-content h2 {
        font-size: 36px;
    }

    .about-game-content p {
        font-size: 16px;
    }

    .game-section {
        padding: 30px 15px;
    }
    .section-5{
        padding: 30px 15px;
    }
}